html  {

    height: 100%;

    width: 100%;
    margin: 0; 
    padding: 0;

}
body{
    height: 100%;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  
    background-image: url('../resource/d1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: screen;
    background-size: 100% 200%;
    margin: 0; 
    padding: 0;
}
main{
    margin-top: 20px;
   
}

#boardContainer {

    background: url('../resource/field-bg.svg') no-repeat center center; 

    background-size: cover; 
   

    /* width: 60%; */

    aspect-ratio: 4.5 / 2.7;

} 


