html , body {

    height: 100%;

    width: 100%;

}
main{
    margin-top: 40px;
   
}

#boardContainer {

    background: url('../resource/field-bg.svg') no-repeat center center; 

    background-size: cover; 
   

    width: 70%;

    aspect-ratio: 4.5 / 3;



} 
