

.footerWrapper{
    width: 120px;
    aspect-ratio: 3.2/5.2;
}
.footerTextStat{
    font-size: 11px;
}
.footerPlayerName{
    font-size:12px;
}
.wrapper{
   
    width: 80px;
    aspect-ratio: 3.2/5.2;

}

.statText{
    font-size: 7px;
}

.playerName{
    font-size: 9px; 
}
.playerPhoto{
    width: 90.666667%;
    /* margin-top: 2.8%; */

}
@media (min-width: 950px) and (max-width: 1080px) {
    .wrapper {
        width: 70px;
    }
    .statText{
        font-size: 6px;
    }
    .playerName{
        font-size: 8px; 
    }
}


@media (max-width: 950px) {
    .wrapper {
        width: 80px;
    }
   
    .statText{
        font-size: 7px;
    }

    .playerName{
        font-size: 9px; 
    }
    main{
        margin-top: 5px;
       
    }

}

@media (max-width: 700px) {
    .wrapper {
        width: 50px;
    }
   
    .statText{
        font-size: 4.5px;
    }
    .playerName{
        font-size: 6px; 
    }
}
.cardContent{
    background-image: url('https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%;
    height: 100%;
}





.cardWrapper{
    background-image: url('https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%;
   height: 100%;

}

.ratingText{
    font-size: 10px;
    color: #FFD700;
    font-weight: 400;
    margin-bottom: -3px;
    
   

}
#firstHR{
    height: 1px;
    background-color:  #3D341B;
}

#secondHR{
    width: 4px;
    background-color:  #ffffff;
    height: 90%;
}
/* Style for vertical divider (hr) */
.vertical-hr {
    border: none;
    width: 1px; /* Width of the vertical line */
    background-color: #FFD700; /* Gold color */
    height: 100%; /* Full height */
    margin: 0 20px; /* Add horizontal spacing between the two columns */
  }
  

.stat{
    /* font-size: 8px; */
    color: #FFD700;
    /* margin-top: 5%; */
    
}

.textSIZE{
    font-size: 9px;
    color: #FFD700;
    font-weight: 360;
    
   

}
/* .nameSIZE89{
    font-size: 10px;
    color: #FFD700;
}
.nameSIZE{
    font-size: 8px;
    color: #FFD700;
} */

/* .mbFlag{
    margin-bottom: -5%;
} */

.flexGapStat{
    column-gap:10px ;
}

